@model Egabinet.Models.AddVisitViewModel

<h1>Add Visit</h1>
<form method="post" action="AddVisit" class="mt-5">
    <div class="form-group mt-1" id="Doctor">
        <label asp-for=SelectedDoctor>Selected Doctor</label>
        @Html.DropDownListFor(x => x.SelectedDoctor,Model.Doctors,new{@class ="form-select "} )
    </div>
    <div class="form-group mt-1" id="Patient">
        <label asp-for=SelectedPatient>Selected Patient</label>
        @Html.DropDownListFor( x => x.SelectedPatient, Model.Patients,new{@class ="form-select "})
    </div>
    <div class="form-group mt-1" id="Patient">
        <label asp-for=SelectedRoom>Selected Room</label>
        @Html.DropDownListFor(x => x.SelectedRoom,Model.Rooms, new{@class ="form-select "})
    </div>
    <div class="form-group">
        <label for="" class="form-label">Select Data</label>
        <input type="datetime-local" min="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" class="form-control" asp-for="SelectedData">
    </div>
    <button type="submit" class="btn btn-primary mt-2" >Add</button>
</form>
