@model Egabinet.Models.UpdateNurseViewModel

@{
}
<h1>Edit Nurse</h1>
<form method="put" action="EditNurse" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <input type="email" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Surname</label>
        <input type="text" class="form-control" asp-for="Surname">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Address</label>
        <input type="text" class="form-control" asp-for="Address">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Permission Number</label>
        <input type="text" class="form-control" asp-for="PermissionNumber">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>