@model Egabinet.Models.UpdateNurseViewModel

@{
}
<h1>Edit Nurse</h1>
<form method="post" action="View" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <input type="email" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Surname</label>
        <input type="text" class="form-control" asp-for="Surname">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Role</label>
        <input type="number" class="form-control" asp-for="Role">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Date of Birth</label>
        <input type="date" class="form-control" asp-for="DateOfBirth">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>