@page
@using Egabinet.Models.Domain;
@using Microsoft.AspNetCore.Identity;
@model IdentityUser
@{
}

<div>
    <div class=" nav-link text-dark">@User.Identity?.Name!</div>
</div>

<a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Register new User</a>
<a class="btn btn-primary" asp-area="" asp-controller="Nurse" asp-action="EditNurse">Edit my account</a>


