@model IEnumerable<Egabinet.Models.ShowUsersViewModel>


<h1>Users:</h1>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.UserName)</th>
            <th>@Html.DisplayNameFor(model => model.Role)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ShowUsersViewModel item in Model)
        {
            <tr>
                <td>
                    @item.UserName

                </td>
                <td>
                    @item.Role

                </td>
            </tr>
        }
    </tbody>
</table>
