@page
@using Core.Domain;
@using Microsoft.AspNetCore.Identity;
@model IdentityUser


<h1>Doctor</h1>
<div>
    <img src="~/images/doctor.png" class="avatar mb-3">
</div>
<form>
    <div class="form-group mb-2">
        <label for="exampleFormControlFile1">Upload Avatar</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
</form>

<a class="btn btn-primary" asp-area="" asp-controller="Doctor" asp-action="ShowTimesheet">Show Timesheet</a>
<a class="btn btn-primary" asp-area="" asp-controller="Doctor" asp-action="EditDoctor">Edit my account</a>


<style>
    .avatar {
        border-radius: 50%;
        height: 100px;
    }

</style>