@model Egabinet.Models.UpdatePatientViewModel
@{
}
<h1>Edit Patient</h1>
<form method="post" action="EditPatient" class="mt-5">

    <div class="mb-3">
        <label for="" class="form-label">Address</label>
        <input type="text" class="form-control" asp-for="Address">
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
        <input type="text" class="form-control" asp-for="Id" hidden>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>